<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Delirium Detector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14B2047B1E7F0ADE00429DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14B204941E7F0ADF00429DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14B2049F1E7F0ADF00429DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
